/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

/* GLOBAL */
body,html{
	height:100%;
}

p{
	color:#6c6c6f;
	font-size:1em;
}

a:hover{
	text-decoration: none;
	font-weight: bold;
	color:red;
}

h1,h2,h3,h4,h5,h6{
	color:#323233;
	text-transform:uppercase;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.content-container{
	margin-top:125px;
}

.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
}

.content-container{
	margin-top:100px;
}

.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
}

.main-body{
	background-image: url("../assets/images/background.jpg");
}

/* NAVBAR GLOBAL*/

nav{
	-webkit-transition: padding-top .3s,padding-bottom .3s;
	-moz-transition: padding-top .3s,padding-bottom .3s;
	transition: padding-top .3s,padding-bottom .3s;
	border: none;
}

.navbar-brand {
	color:black;
	font-size:25px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	font-weight:700;
	letter-spacing:0.1em;
	padding: 0;
}

.navbar-brand span {
	color: rgb(255, 0, 0);
	font-size:25px;
	font-weight:700;
	letter-spacing:0.1em;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.navbar-brand img{
	height: 100%;
	padding: 15px;
	width:75px;
	-webkit-transition: transform 1s; /* Safari */
	transition: transform 1s;
}

.navbar-brand:hover img{
	transform: scale(1.5);
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 120%;
    font-weight: 500;
	letter-spacing: 1px;
	color:black;
	font-family: 'Gothic A1', sans-serif;
	-webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.navbar-nav .nav-item .nav-link:hover{
	color:#af0202;
	font-weight: bold;
}

/* NAVBAR LOGGED*/
#collapsibleNavbar .active{
	text-decoration: underline red;
}

/* NAVBAR LOGGED*/
#collapsibleNavbar .active{
	text-decoration: underline red;
	text-decoration-style: dashed;
}

.fixed-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}

.fixed-nav-text{
	color:white !important;
}

.fixed-nav-text:hover{
	color:#af0202 !important;
	font-weight: bold;
}

/* NAVBAR CONSOLE */
.barconsole {
	max-width: 100%;
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	margin: 0 auto;
	background-color: #323233;
}

/* BANNIERE */
.banner{
	background-image:url('../assets/images/beer_fond.jpg');
	text-align: center;
    color: #000;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
	font-family: 'Lobster', cursive;
	font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
	color:#fff;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.text-intro{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:30px;
}

/* BANNIERE CATALOGUE*/
.banner-catalogue{
	background-image:url('../assets/images/beer_catalogue.jpg');
	text-align: center;
    color: #000;
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/********************/
/* ACCUEIL LOGGED	*/
/********************/
.grid-container {
	display: grid;
	height: 100%;
	margin-left:50px;
	margin-right:50px;
	margin-top:50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1px;
	grid-template-areas: "Actualité Actualité Compte Compte" "Catalogue Catalogue Compte Compte";
}

.grid-block{
	margin-top:10px;
	margin-bottom: 20px;
}

/*ACTU*/
.Actualité {
	grid-area: Actualité;
	display:block;
	height: 400px;
	background-image: url("../assets/images/news_bg2.jpg");
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius:5%;
	overflow: hidden;
}

.Actualité > .wrapper{
	display:block;
	padding-top:150px;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
	display: block;
}

.carousel-indicators {
	bottom:-50px;
}

.carousel-caption{
	background-color: rgba(21, 21, 21, 0.39);
}

.carousel-caption > p,
.carousel-caption > h3{
	color:white;
}
.carousel-indicators > li{
	width: 20px;
	height: 20px;
	background-color: #2137fe;
	border-radius: 100%;
}


.carousel-indicators > .active{
	background-color: #e6fee6;
}



/*CATALOGUE*/
.Catalogue {
	grid-area: Catalogue;
	display:block;
	width:100%;
	height: 400px;
	border-radius:5%;
	background-color: black;
	background-image: url("../assets/images/catalogue_background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.Catalogue h3{
	color:white;
}

.Catalogue:hover h3{
	color: #ff0000;
}


/*COMPTE*/
.Compte { grid-area: Compte; }

.card-base > .card-icon {
	text-align: center;
	position: relative;
}

.card-base{padding:20px;}
.box-title{padding:10px;}

.imagecard {
	z-index: 2;
	display: block;
	positioN: relative;
	width: 88px;
	height: 88px;
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 0 auto;
	color: white;
}
.card-base > .card-icon > .card-data {
	height:100%;
	min-height: 250px !important;
	margin-top: -24px;
	background: ghostwhite;
	border: 1px solid #e0e0e0;
	padding: 15px 0 10px 0;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	min-height: 215px;
}
#widgetCardIcon {
	font-size: 28px;
	line-height: 78px;
	background-size: 50px;
	background-image: url("../assets/images/beer_fond_small.jpg");
}

/*************/
/* FOOTER	 */
/*************/

.footer{
	min-height:20px;
	width: 100%;

}

/*************/
/* NAVTAB    */
/*************/




/*************/
/* ANIMATION */
/*************/
@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
	  -webkit-transform: translateX(8px);
	  transform: translateX(8px);
	}
	33.3% {
	  -webkit-transform: translateX(-6px);
	  transform: translateX(-6px);
	}
	49.95% {
	  -webkit-transform: translateX(4px);
	  transform: translateX(4px);
	}
	66.6% {
	  -webkit-transform: translateX(-2px);
	  transform: translateX(-2px);
	}
	83.25% {
	  -webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }
  @keyframes hvr-wobble-horizontal {
	16.65% {
	  -webkit-transform: translateX(8px);
	  transform: translateX(8px);
	}
	33.3% {
	  -webkit-transform: translateX(-6px);
	  transform: translateX(-6px);
	}
	49.95% {
	  -webkit-transform: translateX(4px);
	  transform: translateX(4px);
	}
	66.6% {
	  -webkit-transform: translateX(-2px);
	  transform: translateX(-2px);
	}
	83.25% {
	  -webkit-transform: translateX(1px);
	  transform: translateX(1px);
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }
  .hvr-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }

/* Gestion du responsive */
@media (max-width:500px)
{
	.navbar-nav{
		background-color:#000;
		color:#fff;
		z-index:1;
		margin-top:5px;
	}
	.navbar-nav .nav-item .nav-link{
		padding: 0.7em 1em !important;
		font-size: 100%;
		font-weight: 500;
    }
	.banner-text{
		padding:150px 0 150px 0;
	}
	.banner-heading{
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.banner-sub-heading{
		font-size: 10px;
		font-weight: 200;
		line-height: 10px;
		margin-bottom: 40px;
	}

}

@media (max-width:790px){
	.grid-container {
		display: grid;
		height: 100%;
		margin-left:50px;
		margin-right:50px;
		margin-top:50px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 1px;
		grid-template-areas: "Compte Compte" "Actualité Actualité" "Catalogue Catalogue" ;
	}

}

@media (max-width:777px){
	.banner-text{
		padding:150px 0 150px 0;
	}
	.banner-sub-heading{
		font-size: 23px;
		font-weight: 200;
		line-height: 23px;
		margin-bottom: 40px;
	}
}






/****************/
/* TAB SELECTOR */
/****************/
.tabConsole *, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tabConsole * {
    margin:0;padding:0;border: 0 none;position: relative;
}
[class="fa"]:before {font-family: 'fontawesome', sans-serif;}

.tabConsole {
    position: relative;
    width: 100%;
    height: 25rem;
    margin: 4rem auto;
}
.tabConsole article {
    position: absolute;
    left: 0;
    top: 5rem;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem 0;
    overflow: auto;
    transition: .7s;
    transform: scale(0);
    transform-origin: center right;
    transition-delay: .1s;
}
.tabConsole article:before {
    color: rgba(0,0,0,.2);
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
h2 img {
    width: 120px;
    height: auto;
    background: #f9f9f9;
    border: 5px solid rgba(0,0,0,.7);
    border-radius: 50%;
    padding: 5px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
}
h2 span {
    font-family: Great Vibes;
    font-weight: 400;
    display: block;
    margin-bottom: 1rem;
}
.tabConsole nav {
    background: #fff;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
}
.tabConsole nav:after {
    content:'';
    width: 25%;
    height: 5rem;
    background: #670300;
    position: absolute;
    transition: .5s;
}

.tabConsole label {
    width: 25%;
    float: left;
    color: #BEE3D1;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
}
.tabConsole label:hover {color: #670300;}
.tabConsole label:before {
    display: block;
    font-size: 3rem;
    line-height: 5rem;
    z-index: 2;
}
#search:checked ~ nav [for='search'],
#profile:checked ~ nav [for='profile'],
#command:checked ~ nav [for='command']{
    color: #cddfcd;
    font-weight: 600;
}

#search:checked ~ nav:after {
    left: 0;
}
#profile:checked ~ nav:after {
    left:25%;
    border-top: 0 none;
}
#command:checked ~ nav:after {
    left: 50%;
}

#search:checked ~ .searchTab,
#profile:checked ~ .userTab,
#command:checked ~ .commandTab{
    display: block;
    transform: scale(1);
    transition-delay: .5s;
}

.tabConsoleInput{
    display:none;
}
.tabConsole a {color: rgba(0,0,0,.4)}
.tabConsole a:hover {color: rgba(0,0,0,.2)}

/* SEARCH SELECTOR */

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.searchAC input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
.searchAC input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
.searchAC input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}