body {
    position: relative;
    overflow-x: hidden;
}
body, html {
    height: 100%;
    background: #fafafa;
    font-family: 'Advent Pro', sans-serif;

}

#header {
    height: 3.7em;
    background: #ffffff;
    border-bottom: solid #e0e0e0 0.2em;
    margin-bottom: 2em;
}

#header>span {
    font-size: 2.4em;
    font-weight: bold;
}

#title{
    color:#ff9800;
}

.navbar i {
    margin-right: 1em;
}

a, a:hover, a:visited {
    color: inherit;
}

.container-background{
    background-image: url("../assets/images/icons_logo/fond.png");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.separator {
    border-top: solid 0.2em #e0e0e0;
    margin-top: 1em;
    padding-top: 1em;
}

.separator-thin {
    border-top: solid 1px #e0e0e0;
    margin-top: 1em;
    padding-top: 1em;
}

/***********************/
/* Phat'Advisor colors */
/***********************/

.pa-pink {
    color: #f45b69;
    background: #f45b69;
}

.pa-cyan {
    color: #00a79d;
    background: #00a79d;
}

.pa-light-blue {
    color: #59b2e0;
    background: #59b2e0;
}

.pa-yellow {
    color: #ff9800;
    background: #ff9800;
}

#label-form{
    background-color: #f45b69;
    border-radius: 1em;
    color: #00A79D;
}

#label-rest-list{
    background-color: #f45b69;
    padding: 0,5em;
    text-align: center;
    border-radius: 1em;
    color: #00A79D;
    font-size: 2em;
    font-weight: bold;
}

.label-filter{
    color: #f45b69;
    font-size: 2em;
    font-weight: bold;
}

btn-form{
    font-weight: bold;
    font-size: 20px;
    vertical-align: center;
    height: auto;
}

/**********/
/* COUCOU */
/**********/

#coucou {
    position: fixed;
    bottom: 0em;
    left: 0px;
    z-index: 1000;
    width: -webkit-fill-available;
}

#coucou>* {
    margin: 0em 1em;
    -webkit-animation: ring 2s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 2s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 2s .7s ease-in-out infinite;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(20deg); }
    50% { -webkit-transform: rotateZ(-20deg); }
    100% { -webkit-transform: rotateZ(20deg); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(20deg); }
    50% { -moz-transform: rotate(-20deg); }
    100% { -moz-transform: rotate(20deg); }
}

@keyframes ring {
    0% { transform: rotate(20deg); }
    50% { transform: rotate(-20deg); }
    100% { transform: rotate(20deg); }
}

#coucou-1 {
    height: 12em;
    top: 1.2em;
    position: relative;
    margin: 0em 0em;
    transform-origin: 60% 70%;
    animation-delay: -2s;
}

#coucou-2 {
    height: 8.5em;
    transform-origin: 50% 100%;
    animation-delay: -0.2s;
}

#coucou-3 {
    height: 8em;
    transform-origin: 50% 100%;
    animation-delay: -0.5s;
}

#coucou-4 {
    height: 7.8em;
    transform-origin: 50% 100%;
    animation-delay: -0.8s;
}

#coucou-5 {
    height: 7.8em;
    transform-origin: 50% 100%;
    animation-delay: -1.2s;
}

#coucou-6 {
    height: 9em;
    transform-origin: 50% 100%;
    animation-delay: -1.7s;
}
