body {
    position: relative;
    overflow-x: hidden;
}
body, html {
    height: 100%;
    background: #fafafa;
    font-family: 'Advent Pro', sans-serif;

}

#header {
    height: 3.7em;
    background: #ffffff;
    border-bottom: solid #e0e0e0 0.2em;
    margin-bottom: 2em;
}

#header>span {
    font-size: 2.4em;
    font-weight: bold;
}

.navbar i {
    margin-right: 1em;
}

a, a:hover, a:visited {
    color: inherit;
}

.container-background{
    background-image: url("../assets/images/icons_logo/fond.png");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

/***********************/
/* Phat'Advisor colors */
/***********************/

.pa-pink {
    color: #f45b69;
    background: #f45b69;
}

.pa-cyan {
    color: #00a79d;
    background: #00a79d;
}

.pa-light-blue {
    color: #59b2e0;
    background: #59b2e0;
}

.pa-yellow {
    color: #ff9800;
    background: #ff9800;
}

#label-form{
    background-color: #f45b69;
    border-radius: 1em;
    color: #00A79D;
}

#label-rest-list{
    background-color: #f45b69;
    padding: 0,5em;
    text-align: center;
    border-radius: 1em;
    color: #00A79D;
    font-size: 2em;
    font-weight: bold;
}

btn-form{
    font-weight: bold;
    font-size: 20px;
    vertical-align: center;
    height: auto;
}