/**************/
/* Search bar */
/**************/

#rest-search i {
    line-height: inherit;
}

/**********************/
/* Preview restaurant */
/**********************/

.rest-preview {
    padding: 1em;
}

.rest-preview>div {
    height: 8em;
    padding: inherit;
}

.rest-preview #rest-thumb {
    max-width: 8em;
    max-height: 8em;
}

.rest-preview i {
    color: gold;
}

.rest-preview #rest-badges img {
    max-width: 1.5em;
    max-height: 1.5em;
}

.rest-preview #rest-name {
    font-weight: bold;
    font-size: 2em;
}

.rest-preview #rest-favorite, .rest-preview #rest-unfavorite {
    font-size: 2em;
}
