.rest-detail #rest-favorite,
.rest-detail #rest-unfavorite,
.rest-detail #rest-score,
.rest-detail #rest-comment-score{
    color: gold;
}

.rest-detail #rest-name {
    font-weight: bold;
    font-size: 2em;
}

.rest-detail #rest-thumb {
    max-width: -webkit-fill-available;
}

.rest-detail #rest-score i,
.rest-detail #rest-favorite, .rest-detail #rest-unfavorite {
    font-size: 2.5em;
    cursor: pointer;
}

.rest-detail #rest-comment-score i{
    font-size: 2em;
    cursor: pointer;
}

.rest-detail #rest-badges img {
    width: 3em;
    height: 3em;
}

.left-border {
    border-left: solid 0.2em #e0e0e0;
}

#rest-map-toggle span {
    cursor: pointer;
}

.hover-hightlight {
    background: #00000000;
}
.hover-hightlight:hover {
    background: #0000001f;
}
